table {
    border-collapse: collapse;
    width: 60%;
    margin: 20px auto;
}
td,th {
    border: 1px solid #777;
    padding: 7px;
    text-align: center;
}
th {
    font-weight: 600;
    background-color: #DDEEFF;
    color: #333;
}
td {
    background-color: #F8F8F8;
}